body{
background-image: url("https://raw.githubusercontent.com/shohanalli/images/6fb901c7e0f89e4508c08ca4445842fcddceff90/photo-1564171149171-1b0e8c0e0bef.jpg");
background-repeat: no-repeat;
background-size: cover;

}